<div class="about">

  <h2>The RxJs In Practice Course</h2>

  <img class="course-image mat-elevation-z10"
       src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/rxjs-in-practice-course.png">

  <div>
    <button (click)="intervals()"> Intervals and timers</button>
  </div>
  <div>
    <button (click)="customHttp()"> Custom HTTP Observable</button>
  </div>
  <div>
    <button (click)="mapOperator()">Map operator</button>
  </div>
  <div>
    <button (click)="concatenation()">Observable concatenation</button>
  </div>
  <div>
    <button (click)="mergeOperator()">Merge operator</button>
  </div>
</div>

